$white: #ffffff;
$black: #000000;
$yellow: #d3b673;
$yellow-2: #d2a451;
$yellow-3: #d8b979;
$brown: #8a733f;
$gray: #f5f5f5;
$gray-2: #cccccc;
$gray-3: #bebebe;
$gray-4: #f1f1f1;
$blue: #799dd9;
$milk: #fbfbfb;
$shadow: rgba(0, 0, 0, 0.1);
$shadow-2: rgba(0, 0, 0, 0.2);

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "OpenSans Extra";
  src: url(../../assets/fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Regular.ttf);
  font-weight: 400;
}
