@import "../../assets/scss/variables.scss";
button {
  color: $white;
  padding: 0 15px;
  font-size: 17px;
}
.button--white {
  height: 40px;
  @extend %flex-center;
  border: 1px solid $white;
  padding: 0 15px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  &:hover {
    background-color: $yellow-2;
    border-color: $yellow-2;
  }
}
.button--yellow {
  border: 1px solid $yellow;
  background-color: $yellow;
  &:hover {
    background-color: transparent;
    color: $yellow;
  }
}
