@import "../../assets/scss/variables.scss";
.content {
  padding: 55px 0 0 0;
  .menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  .button {
    margin-top: 16px;
    text-align: center;
    &--yellow {
      padding: 8px 16px;
    }
  }
  .banner {
    padding: 60px 150px;
    &__about-us .banner__text {
      position: absolute;
      top: 50%;
      margin-right: 40px;
      right: 0;
      transform: translateY(-50%);
    }
    &__franchise {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
      border: solid 6px $yellow;
      .banner__text {
        max-width: 460px;
      }
    }
  }
}
@media screen and (max-width: 786px) {
  .content {
    .banner {
      padding: 40px 10%;
      &__about-us .banner__text {
        position: unset;
        margin-right: 40px;
        transform: unset;
        margin: 30px auto;
      }
      &__franchise {
        padding: 35px;
        margin-top: 40px;
        img:first-child {
          display: none;
        }
      }
    }
  }
}
