@import "../../assets/scss/variables.scss";
.content {
  padding: 55px 0;
  .header {
    text-align: center;
    p {
      color: $yellow;
      font-size: 22px;
      margin-bottom: 5px;
      font-weight: bold;
    }
    h3 {
      font-family: "OpenSans Extra";
      font-size: 30px;
      color: $black;
      text-transform: capitalize;
      letter-spacing: 1.8px;
      text-transform: uppercase;
      margin: 10px;
    }
    img {
      margin: auto;
    }
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .button {
    margin-top: 16px;
    text-align: center;
    &--yellow {
      padding: 8px 16px;
    }
  }
}
