@import "../../assets/scss/variables.scss";
.item {
  width: 18%;
  height: auto;
  position: relative;
  overflow: hidden;
  .tag {
    position: absolute;
    top: 0;
    margin: 16px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: $white;
    font-size: 14px;
    font-weight: 600;
    background-color: $yellow;
    @extend %flex-center;
    transform: rotate(-15deg);
    z-index: 1;
  }
  img {
    transition: 0.2s;
  }
  .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $gray;
    position: relative;
    top: 42px;
    transition: 0.2s;
    .name {
      margin-top: 18px;
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 8px;
      font-size: 17px;
    }
    .price {
      font-size: 15px;
      font-weight: 700;
      color: $brown;
    }
  }
  &:hover {
    img {
      transform: scale(1.2);
    }
    .detail {
      top: 0;
    }
  }
}
